.profile-comp {
  //display: flex;
  height: 50%;
  flex-direction: column;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 25px;

  .profile-pic {
    background-color: #dfdfdf;
    border-radius: 50%;
    border: 3px solid #ddd;
    padding: 5px;
    width: 170px;
    height: 170px;
    object-fit: cover;
    margin: auto;
  }

  /* .profile-pic:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  } */

  a {
    color: #552547;
    text-decoration: none;
    font-size: 16px;
    margin: 10px auto;
  }
}
